* {
    box-sizing: border-box;
}

.ekstra1 {
    
    padding-bottom: 80px;
    background-color: #f9f9f9;
    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
    float: left;
    width: 20%;
    padding: 15px;
    border-radius: 10% 10% 10% 10%;
    cursor: default;
}

.item:hover {
    background-color: rgb(210, 105, 30, 0.2);
}

.item-icon {
    position: relative;
}

.item-icon p {
    position: absolute;
    top: 85px;
    width: 93%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}


/* untuk pesan  */

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message1 {
    background-color: #a1f005;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0px 7px #1a7940;
}

.message2 {
    background-color: #ff0000;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0px 7px #9e2a18
}

.message1:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

.message2:active {
    box-shadow: none;
    position: relative;
    top: 7px
}

.clear {
    clear: left;
}

.loading {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(145, 145, 145, 0);
    border-radius: 100%;
    border-top-color: #007df1;
    border-bottom-color:  #10e710; 
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  
    animation: spinning 1s linear infinite;
  
  }
  
  @keyframes spinning{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
  }